/**********************************
Stats Panel - CSS File
***********************************/

body {
	font-family: 'Courier New';
	margin: -25px 0 !important;
}

/** 
Header Start
**/

#header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
  text-align: center;
  color: white;
  background-color: #00BFFF;
}

h1 {
  margin: 15px 0 22px;
  font-size: 2.34em;
  font-weight: 900;
  line-height: 0.3em;
}

/**
Header End
**/



/** 
Page Content Start
**/

#content p {
	text-align: center;
	color: #04BFFF;
	font-weight: 900;
	
}

#title {
	font-size: 2em;
	
}

/**
Table Layout
**/

#tableForm {
	width: 500px;
  margin-left: auto;
  margin-right: auto;
	margin-top: 84px;
}

#tableForm p{
	margin: 8px;
}

/**
Table
**/

.datagrid table { 
	border-collapse: collapse; 
	text-align: left; 
	width: 100%; 
} 

.datagrid {
	font: normal 12px/150% Courier New, Courier, monospace; 
	background: #fff; 
	overflow: hidden; 
	border: 2px solid #004BFF; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px; 
}

.datagrid table td, .datagrid table th { 
	padding: 6px 10px; 
}

.datagrid table tbody td { 
	color: #0A9DFF; 
	border-left: 2px solid #004BFF;
	font-size: 17px;
	border-bottom: 2px solid #004BFF;
	font-weight: normal; 
}

.datagrid table tbody td:first-child { 
	border-left: none; 
}

.datagrid table tbody tr:last-child td { 
	border-bottom: none; 
}
/**
Footer
**/

#footer {
	position: absolute;
	border-top: solid #00BFFF;
	left: 0;
	bottom: 0;
	height: 40px;
	width: 100%;
	background-color: #006AFF;
}

#footer p  {
	color: white;
	margin-right: 15px;
	margin-top: 12px;
}

.alignLeft {
	float: left;
	margin-left: 15px;
}
.alignRight {
	float: right;
}
